@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}
p {
  font-family: var(--font-poppins)
}

a {
  color: 'blue';
}

input, select {
  outline: 2px solid transparent;
  outline-offset: 2px;
}